# GCP Configuration
GCP_PROJECT_ID=your-project-id

# GCS Storage Configuration
GCS_BUCKET_NAME="blent_spark_bucket"
INPUT_PATH="gs://${GCS_BUCKET_NAME}/data/raw"
OUTPUT_PATH="gs://${GCS_BUCKET_NAME}/data/processed"
RAW_FILE_PATH="${INPUT_PATH}/sample.csv"

# Logging Configuration
LOG_LEVEL=INFO
LOG_FILE=logs/etl_job.log
